[submodule "Engine/Deps/raylib"]
	path = Engine/Deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "Engine/Deps/pugixml"]
	path = Engine/Deps/pugixml
	url = https://github.com/zeux/pugixml.git
